body {
  background: darkslateblue;
}

.imgBox {
  background-image: url("64_drag\ and\ drop\ image.jpg");
  /* image still not visible. have to set div's height and width */
  position: relative;
  height: 216px;
  width: 384px;
  top: 5px;
  left: 5px;
  /* can also adjust this in the inspect by first clicking on the element code from elements and then adjust the style by clicking on the style parameter and then adjusting it with arrow keys. */
  cursor: pointer;
  /* used to change the cursor pointer while picking and dragging the image */
}

.whiteBox {
  height: 226px;
  width: 394px;
  background-color: white;
  margin: 10px;
  display: inline-block;
  border: yellowgreen 10px solid;
}

.holdBorder {
  border: tomato 5px solid;
}

.dashed {
  background: grey;
  border-style: dashed;
}

.hide {
  display: none;
}
